<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="http://127.0.0.1:1724/login/kakao"><img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"
            style="width: 500px; ;
    "></a>
    <!-- <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"
        integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh"
        crossorigin="anonymous"></script> -->
    <!-- <script>
        //1fb48106af322d701a6c68aa3ea84a04
        window.Kakao.init("1fb48106af322d701a6c68aa3ea84a04");
        console.log(Kakao.isInitialized());

        function kakaoLogin() {
            //여기에 로그인 하는 사이트로 이동?
            res.redirect
            Kakao.API.request({
                url: '/v2/user/me',
                data: {
                    property_keys: ['kakao_account.email', 'kakao_account.gender'],
                },
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });

        }
    </script> -->
</body>

</html>